---


interface Props {
	videoId?: string
	title?: string
	backgroundImage?: string
	videotitle?: string
}

const { videoId, title, backgroundImage, videotitle } = Astro.props
---

<lite-youtube
	class="rounded-lg"
	videoid={videoId}
	videotitle={videotitle}
	style={`background-image: url('${backgroundImage}')`}
	tabindex="0"
	aria-label="button"
>
	<a
		href={`https://youtube.com/watch?v=${videoId}`}
		class="lty-playbtn"
		title={title}
		role="button"
		tabindex="0"
	>
		<span class="lyt-visually-hidden">{title}</span>
	</a>
</lite-youtube>

<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>