---
import Layout from "@/layouts/Layout.astro"
import TeamTable from "@/components/TeamTable.astro"
import {allRoasters, players, roasters} from "@/lib/data"

//el id de la ruta
const {id}= Astro.params //el id es el nombre del archivo

//de todos los roasters tenemos que buscar ese roaster sea el mismo que el id
const roaster= allRoasters.find(roaster => roaster.id === id)

//de todos los players filtramos los jugadores que tiene ese roast sea el mismo al id 
const roastersPlayers= players.filter(player =>player.roastId === roaster?.roastId)





//para que Astro maneje las rutas dinámicas, los archivos que representan rutas deben 
//estar dentro de src/pages/
//src/pages/Roasters/ para que Astro pueda generar las rutas dinámicas.
//COLOCAR en el astro.config   output:'server'
---

<!--imoprtamos el view transition en el layout -->
<Layout
  title="THE FIENDS | Equipo de ESPORTS  "
  description="Descubre a una de las futuras promesas de Latinoamerica en el mundo de los esports Ven y conoce la innovación y talento de THE FIENDS con sus roaster de Overwatch"
  >	

  <div
   id="roasterlist-container"
   class="relative flex flex-col h-full  overflow-x-hidden   "
   transition:name=`Roaster ${id} box` 
   >
<!--esta tansicionse debe de poner en donde se la da clic, que es en el enlace de la card -->

  <!--page header -->

 


  <header class="flex flex-row   gap-8 px-6 mt-14">

 

    <picture class="aspect-square w-52 h-52 flex-none ">
      <img 
      src={roaster?.imagen} 
      alt= { `Imagen de ${roaster?.roasterNombre} by ${roaster?.captainsString} ` }
      class="object-cover w-full h-full shadow-lg"
      title={roaster?.roastNombre}
      loading="lazy"
      transition:name=`Roaster ${roaster?.id} image`

      >
    </picture>


    <div class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end text-red-700">Roaster</h2>
            <div>

              <span class="absolute   bg-gradient-to-r blur-sm from-slate-300 via-slate-200 to-slate-100 bg-clip-text text-3xl  box-content block font-bold text-transparent  select-none"  transition:name=`Roaster ${roaster?.id} title`>
                {roaster?.roastNombre}
            </span>
    
            <h1 class="relative    bg-gradient-to-r  from-slate-300 via-slate-200 to-slate-100 bg-clip-text  text-3xl  block font-bold text-transparent select-auto">
              {roaster?.roastNombre}
            </h1>

              
            </div>

        <div class="flex-1 flex items-end">
            <div class="text-sm  font-normal">
                <div transition:name=`Roaster ${roaster?.id} capitanes`>
                  <span> {roaster?.capitanes.join(", ")}</span>
                </div>
              <p class="mt-1">
                <span>Capitanes</span>
              </p>
            </div>
        </div>
    </div>

  




  </header>

  
 


<section class="my-5  ">

  <div  id= "roast" class="relative   ">


      <main class="rounded-lg overflow-y-auto w-full my-20">
          <section class="p-6">

            <TeamTable players={roastersPlayers}/>
          </section>

      </main>



  </div>

</section>




</div>

